$icon-font-path: '../fonts/';
// bower:scss
// endbower

body { background-color: black; }

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'lato', sans-serif;
}

@mixin circle($size, $thickness) {
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $thickness solid;
  border-color: white;
  margin: 20px;
}

#thin {
  @include circle(350px, 5px);
}

#thick {
  @include circle(300px, 17px);
  // margin: 8px 0px 0px 8px;
  margin-top: 8px;
  margin-left: 8px;
}

#dollars {
  img {
    margin-top: 125px;
    margin-left: 15px;
    width: auto;
    max-width: 90%;
  }
}

#password {
  display: flex;
  align-items: center;
  margin: inherit;
  label {
    color: white;
    margin-right: 5px;
  }
  input {
    background: white;
    color: black;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    font-size: 27px;
    border: 1px solid #000;
  }
}

#enter {
  margin: inherit;
  button {
    border: 2px solid;
    background: grey;
    color: white;
    border-radius: 10px;
    height: 27px;
    width: 200px;
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 0px;
  p {
    color: grey;
  }
}
