$icon-font-path: '../fonts/';
// bower:scss
// endbower

@mixin circle($size, $thickness) {
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $thickness solid;
  border-color: white;
  margin: 20px;
}
body {
  background-color: black;
}

#thin {
  @include circle(400px, 5px);
}

#thick {
  @include circle(350px, 17px);
}
